/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}


/**
 * Другие стили
 */
.navbar{
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .container{
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu{
	display: inline-block;
	color: #000;
	opacity: 1;
	text-decoration: none;
	padding: 10px;

	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-menu li {
	display: inline-block;
}

.navbar-menu li a{
	display: inline-block;
	color: #000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .2s ease-in-out;
}

.navbar-menu li a:hover{
	opacity: 1;
}

.navbar-wrap{
	display: flex;
	flex-flow: row nowrap;
}

.callback{
	margin-left: 30px;
	padding: 20px;
	color: #000;
	text-decoration: none;
	opacity: 0.6;
	transition: all .2s ease-in-out;
}

.callback:hover{
	opacity: 1;
	color: #000;
}

.navbar-brand{
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	color: #000;
	transition: all .2s ease-in-out;
}

.navbar-brand:hover {
	color: coral;
}





.language{
margin-bottom: 30px;
}

.image{
	margin-bottom: 10px;
}
 
.image img{
	height: 198px;
	width: 162px;
	object-fit: cover;
	border-radius: 7px;
}
 









